{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="shortcut icon" href="{% static 'network/favicon.ico' %}" />

    <title>{% block title %}Chatter{% endblock %}</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    {# <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> #}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Shizuru&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/75922aa512.js" crossorigin="anonymous"></script>

    <link href="{% static 'network/styles.css' %}" rel="stylesheet">
    <script src="{% static 'network/page_content.js' %}"></script>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg fixed-top">
      <a class="chatter" onclick="topPage()">Chatter</a>

      <div class="ml-auto">
        <ul class="navbar-nav">
          {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" id="username"><strong>{{ user.username }}</strong></a>
            </li>
          {% endif %}

          <li class="nav-item">
            <a class="nav-link" id="all_posts">All Posts</a>
          </li>

          {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" id="following">Following</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}">Log In</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'register' %}">Register</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </nav>

    <div class="hl"></div>

    <div class="body">
        {% block body %}
        {% endblock %}
    </div>

    {% csrf_token %}
    <script>
      const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    </script>

  </body>
</html>
