{% extends "network/layout.html" %}

{% block body %}

<div class="box-page">

    <h2>Login</h2>

    {% if message %}
        <p>{{ message }}</p>
    {% endif %}

    <div class="purple-box">

      <form action="{% url 'login' %}" method="post">
          {% csrf_token %}
          <input autofocus class="input-form" type="text" name="username" placeholder="Username">
          <input class="input-form" type="password" name="password" placeholder="Password">
          <input class="button" type="submit" value="Login">
      </form>

  </div>

    <p style="margin-top:10px">Don't have an account? <a href="{% url 'register' %}">Register here.</a></p>

</div>

{% endblock %}
